.navbar-toggler {
  margin-top: 22px !important;
  padding: 0px 10px !important;
  background: whitesmoke;
  font-size: 20px;
  margin-right: 0px !important;
  float: right;
}

.fa-bars {
  color: black;
}

.donate {
  margin-left: 10px;
}

.navbar-brand {
  margin: 15px 0;
}

.navbar-collapse {
  padding: 15px 0 0 0 !important;
}

.donate_button_custom {
  border: 1px solid whitesmoke;
  border-radius: 10%;
  font-size: initial;
  font-weight: bold;
  padding-top: 13px !important;
  background-color: whitesmoke;
  color: black !important;
}

.donate_button_custom:hover,
.donate_button_custom:focus {
  text-decoration: none;
  color: whitesmoke !important;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 6px;
  right: -4px;
  font-size: 12px;
  line-height: 12px;
  background: pink;
  color: #000;
  border-radius: 10px;
  border: 2px solid #000;
  font-weight: 600;
}

.header__cart-icon {
  padding: 0 15px;
  font-size: 20px;
  color: #fff;
  margin-top: 14px;
  margin-left: 15px;
}

ul.dropdown-menu {
  margin-left: 15px;
  background-color: whitesmoke !important;
  margin-top: 13px !important;
}

#dropavatar li a {
  color: #000;
}

.category_col {
  padding-right: 15px !important;
  padding-left: 0px !important;
}

.date_col {
  padding-left: 15px !important;
  padding-right: 0px !important;
}
